*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  font-size: 20px;
}

html,
body {
  margin: 0;
  font-size: 0.7rem;
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 0.7rem;
  color: #3a4a5a;
}

.form {
  max-width: 500px;
  padding: 1rem;
  margin: auto;
}

.field {
  margin-bottom: 1rem;

  &::after {
    content: "";
    clear: both;
    display: block;
  }

  & > [class^="col"] {
    float: left;
  }

  & > .col-2 {
    width: 50%;
  }
}

.control {
  position: relative;
  z-index: 10;

  &:not([data-suffix=""])::before {
    content: attr(data-suffix);
    position: absolute;
    top: 0.95rem;
    right: 0.5rem;
    transform: translate3d(0, -50%, 0);
    font-size: 0.6rem;
    color: rgba(0, 0, 0, 0.5);
    user-select: none;
    z-index: 5;
  }

  &:not([data-invalid=""])::after {
    content: attr(data-invalid);
    display: block;
    margin-top: 0.25rem;
    color: brown;
  }

  &:not([data-invalid=""]) > .input,
  &:not([data-invalid=""]) > .select {
    border: 1px solid brown;
  }
}

.label {
  line-height: 1.5;
  user-select: none;
}

.select,
.input {
  width: 100%;
  display: block;
  margin-top: 0.3rem;
  padding: 0.5rem 1rem;
  border: 1px solid #336699;
  border-radius: 0.1rem;
  color: #3a4a5a;
}

.button {
  width: 100%;
  line-height: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 0.1rem;
  border: 1px solid #294c6f;
  border-top: 1px solid #336699;
  background-color: #3366aa;
  color: white;
}
